In [1]:
count = [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

In [2]:
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

In [3]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [4]:
entry = 0
sum1 = 0
print("Enter numbers to find their sum, negative number ends the loop:")
while True:
    entry = int(input())
    if (entry < 0):
        break 
    sum1 += entry
print("Sum =", sum1)

Enter numbers to find their sum, negative number ends the loop:
5
7
5
6
89
8
-1
Sum = 120

In [24]:
num = 0
for num in range(6 ):
    num = num + 1
    if num == 3:
        continue
        print('Num has value '+ str(num))
        print('End of loop')

In [9]:
for var1 in range(3):
    print( "Iteration " + str(var1 + 1) + "of outer loop")
    for var2 in range(2):
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

Iteration 1of outer loop
1
2
Out of inner loop
Iteration 2of outer loop
1
2
Out of inner loop
Iteration 3of outer loop
1
2
Out of inner loop
Out of outer loop

In [12]:
city_1 = input('Enter name of city 1:')
city_2 = input('Enter name of city 2:')

temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of city 1 after swapping is {city_1}")
print(f"The name of city 2 after swapping is {city_2}")

Enter name of city 1:kk
Enter name of city 2:baka
The name of city 1 after swapping is baka
The name of city 2 after swapping is kk

In [16]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
        print("Zero")
else:
    print("Negative number")

Enter a number: 0
Zero

In [35]:
print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")

captain = {'Madiba:': 'Chubby OPbiora-Okafa', 'Blue-Jays: ': 'Christopher Uweh'
           'Alexander', 'TSG Walkers: ': 'Ikechukwu'}

goalkeepers = {'Madiba: ': 'Chubby Obiara-Okafo',
              'Blue-Jays: ': 'Oladimeji Abaniwondea/Jeffery Awagu',
              'Cirok: ': 'Timileyin Pearse/Izuako Jeremy',
              'TSG Walkers: ': 'Ayomide Ojituku'}

for pick in captain:
    print(pick, captain[pick])
    
    print("\n")
    
    for pick in goalkeepers:
        print(pick, goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba: Chubby OPbiora-Okafa


Madiba:  Chubby Obiara-Okafo
Blue-Jays:  Oladimeji Abaniwondea/Jeffery Awagu
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide Ojituku
Blue-Jays:  Christopher UwehAlexander


Madiba:  Chubby Obiara-Okafo
Blue-Jays:  Oladimeji Abaniwondea/Jeffery Awagu
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide Ojituku
TSG Walkers:  Ikechukwu


Madiba:  Chubby Obiara-Okafo
Blue-Jays:  Oladimeji Abaniwondea/Jeffery Awagu
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide Ojituku

In [57]:
import pandas as pd

girls = pd.DataFrame({
    'Girl_names': ['Samnatha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian'],
    'G_age': [ 17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
    'G_height': [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
    'G_score': [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]})
boys = pd.DataFrame({
    'Boys_names': ['Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode'],
    'B_age': [19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
    'B_height': [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7],
    'B_score': [72, 87, 75, 68, 66, 78, 87, 98, 54, 60]})

print("Girls:")
print(girls.to_string(index=False))

print("\nboys:")
print(boys.to_string(index=False))

Girls:
Girl_names  G_age  G_height  G_score
  Samnatha     17       5.5       80
      Jada     16       6.0       85
      Jane     17       5.4       70
    Claire     18       5.9       60
 Elizabeth     16       5.6       76
      Mary     18       5.5       66
     Susan     17       6.1       87
      Waje     20       6.0       95
    Taibat     19       5.7       50
    Lilian     17       5.5       49

boys:
Boys_names  B_age  B_height  B_score
   Charles     19       5.7       72
      Jude     16       5.9       87
     James     18       5.8       75
    Kelvin     17       6.1       68
    Biodun     20       5.9       66
      Wale     19       5.5       78
     Kunle     16       6.1       87
   Matthew     18       5.4       98
       Tom     17       5.8       54
    Kayode     19       5.7       60

In [3]:
Value_A = input("How many years of experience do you have")
print(Value_A)
if Value_A >= 25:
    value_B = input("How old are you") 
    print(value_B)
    if  value_B >= 55:   
        print(A)
        A = ("Your annual tax revenue is #5,600,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif 20 < value_A <= 24:
    value_B = input("How old are you")
    print(Value_B)
    if  54 <= value_B <= 45:
        print(A)
        A = ("Your annual tax revenue is #4,480,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif 10 < value_A <= 19:
    value_B = input("How old are you")
    print(Value_B)
    if  45 < value_B <= 35:
        print(A)
        A = ("Your annual tax revenue is #1,500,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif 10 < value_A <= 19:
    value_B = input("How old are you")
    print(Value_B)
    if  45 < value_B <= 35:
        print(A)
        A = ("Your annual tax revenue is #1,500,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif value_A < 10:
    value_B = input("How old are you")
    print(Value_B)
    if value_B <= 34:
        print(A)
        A = ("Your annual tax revenue is #550,000")
    elif value_B < 1:
        print (B)
        B = ("That's beyond my pay grade")
else:
    print(C)
    C = ("let me have peace")

How many years of experience do you have6
6

TypeError: '>=' not supported between instances of 'str' and 'int'